# Ignore virtual environment
.venv/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore Python cache
__pycache__/
*.pyc
.DS_Store
./data/
./img2sch/Data Label/fail.csv
./img2sch/Data Label/test.png
./img2sch/.DS_Store